[submodule "PowerShellModules/posh-git"]
	path = PowerShellModules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "msysgit"]
	path = msysgit
	url = https://github.com/msysgit/msysgit.git
