[submodule "PowerShellModules/posh-git"]
	path = PowerShellModules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "PowerShellModules/SCOrchDev-Exception"]
	path = PowerShellModules/SCOrchDev-Exception
	url = https://github.com/randorfer/SCOrchDev-Exception
