[submodule "PowerShellModules/posh-git"]
	path = PowerShellModules/posh-git
	url = https://github.com/dahlbyk/posh-git.git
[submodule "PowerShellModules/SCOrchDev-Exception"]
	path = PowerShellModules/SCOrchDev-Exception
	url = https://github.com/randorfer/SCOrchDev-Exception
[submodule "PowerShellModules/SCOrchDev-Networking"]
	path = PowerShellModules/SCOrchDev-Networking
	url = https://github.com/randorfer/SCOrchDev-Networking
[submodule "PowerShellModules/SCOrchDev-PasswordVault"]
	path = PowerShellModules/SCOrchDev-PasswordVault
	url = https://github.com/randorfer/SCOrchDev-PasswordVault
[submodule "PowerShellModules/SCOrchDev-File"]
	path = PowerShellModules/SCOrchDev-File
	url = https://github.com/randorfer/SCOrchDev-File
[submodule "PowerShellModules/SCOrchDev-PSRemoting"]
	path = PowerShellModules/SCOrchDev-PSRemoting
	url = https://github.com/randorfer/SCOrchDev-PSRemoting
[submodule "PowerShellModules/SCOrchDev-SharePoint"]
	path = PowerShellModules/SCOrchDev-SharePoint
	url = https://github.com/randorfer/SCOrchDev-SharePoint
[submodule "PowerShellModules/SCOrchDev-SMA"]
	path = PowerShellModules/SCOrchDev-SMA
	url = https://github.com/randorfer/SCOrchDev-SMA
[submodule "PowerShellModules/SCOrchDev-SQL"]
	path = PowerShellModules/SCOrchDev-SQL
	url = https://github.com/randorfer/SCOrchDev-SQL
[submodule "PowerShellModules/SCOrchDev-Utility"]
	path = PowerShellModules/SCOrchDev-Utility
	url = https://github.com/randorfer/SCOrchDev-Utility
[submodule "PowerShellModules/pester"]
	path = PowerShellModules/pester
	url = http://github.com/randorfer/pester
[submodule "PowerShellModules/SCOrchDev-GitIntegration"]
	path = PowerShellModules/SCOrchDev-GitIntegration
	url = https://github.com/randorfer/SCOrchDev-GitIntegration
[submodule "PowerShellModules/SCOrchDev-F5"]
	path = PowerShellModules/SCOrchDev-F5
	url = https://randorfer:Robin410@github.com/randorfer/SCOrchDev-F5
[submodule "PowerShellModules/EWSMail"]
	path = PowerShellModules/EWSMail
	url = https://randorfer:Robin410@github.com/randorfer/EWSMail
[submodule "PowerShellModules/SCOrchDev-SmaContinuousDelivery"]
	path = PowerShellModules/SCOrchDev-SmaContinuousDelivery
	url = https://github.com/randorfer/SCOrchDev-SmaContinuousDelivery
